/* CSS - Main - Các style chung của trang web */

/* 
    - Các thành phần dùng chung của trang web
        1. Phần đầu trang - Header
        2. Phần cuối trang - Footer
        3. Các nút bấm - Button
        4. Phần giới thiệu của mỗi trang - Introduce
        5. Màu chữ của thương hiệu Chicken - DEV
        6. Cart-Number - Là 1 số đại diện cho số lượng cơm khách hàng đã mua
        7. Footer-Top khi người dùng cuộn đến cuối trang sẽ có nút bấm img để cho người dùng trở về đầu trang
    - Các thành phần vừa nêu trên là các thành phần chung mà mỗi trang điều được sử dụng lại
*/



/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

/* Đặt biến*/
:root{
    --fontSize: 20px;
    --bg-header-footer: #840906;
    --font-size-title: 42px;
    --light-color: #fff;
    --dark-color: #23272a;
    --dark-color-second: #2c2f33;
    --text-color: #99aab5;
    --primary-color: #7289da;
    --yellow-color: #ffc107;
}

/* Set font-family cho website */
body{
    /* font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Grenze Gotisch', cursive;
    font-family: 'Signika', sans-serif; */
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Style - Header - Những thuộc tính đã thay đổi từ bootstrap */
.navbar{
    background-color: var(--light-color) !important;
    padding: 0 25px !important;
    display: flex !important;
    justify-content: space-between !important;
}
.nav-bar-main{
    display: flex !important;
    flex-direction: row-reverse;
}
.menu-choose{
    display: flex !important;
    align-items: center !important;
}

/* Style logo của trang web*/
.header__logo{
    width: 120px;
    border-radius: 100px;
    position: relative;
    /* animation: move 3s infinite linear; */
    z-index: 2;
}

/* Animation logo chuyển động lên xuống */
@keyframes move {
    0%{left:0; top: 0px;}
    50%{left:0; top: 100px;}
    100%{left:0; top: 0;}
}

/*Style-Navitem các link đến trang khác cũng sửa đổi từ bootstrap */
.nav-item{
    padding: 10px 18px !important;
    color: var(--dark-color);
    font-size: var(--fontSize) !important;
}

/* Di chuột */
.nav-item:hover{
    background-color: white !important;
    color: black !important;
    border-radius: 8px !important;
}

/* Set kích thước cho các icon là con trực tiếp của nav-item */
.nav-item>i{
    font-size: 24px !important;
    color: var(--primary-color);
}

/* Nút bấm khi header responsive */
.navbar-toggler{
    border: none !important;
    outline:  none !important;
}

/* Ở pc thì nút bấm hiện menu sẽ được ẩn */
.navbar-toggler-icon{
    display: none !important;
}

/* Kết  thúc phần Style - Header */

/* ----------------------------------------------------- */

/* Style - Main  */

/* Style - introduce - Phần giới thiệu của trang web*/

/* Set introduce */
.introduce{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    position: relative;
    height:500px;
}

/* Style img */
.introduce__img{
    width: 100%;    
    height: 100%;
}

/* Style thẻ chứa nội dung */
.introduce__recruit{
    /* top: 50%;
    left: 75px;
    transform: translateY(-50%); */
    color: white;
}

.introduce__recruit--center {
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(-50%);
    color: white;
}

/* Style tiêu đề */
.recruit-title{
    font-size: 54px;
    padding-bottom: 20px;
    text-shadow: 2px 2px black;
}

/* Style thông điệp */
.recruit-des{
    /* font-size: var(--font-size-title); */
    margin-right: 400px;
    line-height: 1.5;
    text-shadow: 2px 2px black;
}
/* Kết thúc phần Style - Introduce */

/* -------------------------------------------------- */

/* Style - Footer */

/* Style nội dung chính của footer - GRID */
/* 
    #Note:
        1. content__footer Grid được chia thành 4 phần chính tương ứng từ h1-h4 
        2. Còn phần footer sẽ chứa cả Grid của content__footer và các nội dung khác
*/
.content__footer{
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "h1 h2 h3"
        "h4 h4 h4"
    ;
    grid-gap: 50px;
    padding: 50px;
    place-content: center;
    place-items: center;
    font-size: var(--fontSize);
}

/* Style các thẻ có class có chứa text là order- */
[class^='order-']{
    width: 90px;
    transition: opacity 0.4s linear;
}

/* Hover */
[class^='order-']:hover{
    opacity: 0.3;
}

/* Set grid-area cho item-1 */
.footer__address{
    grid-area: h1;
}

/* Style Địa chỉ liên hệ */
.address__title{
    padding-bottom: 15px;
    font-size: 22px;
    color: yellow;
    font-weight: 600;
}

/* Style phone -  Set grid-area cho item-2  */
.footer__phone{
    grid-area: h2;
    text-align: center;
}

/* Style phone liên hệ - Animation chuyển động trái phải */
.phone__number{
    font-size: 40px;
    font-weight: 600;
    color: yellow;
    position: relative;
    animation: noibat 0.4s infinite ease-in-out;
}

.phone__number:hover {
    text-decoration: none;
    color: yellow;
}

/* Animation cho phone__number */
@keyframes noibat {
    0%{left:0;top:0;}
    50%{left:20px;}
    100%{left:0;top:0;}
}

/* Set grid-area cho item-3*/
.footer__time{
    grid-area: h3;
}    

/* Set grid-area cho item-4 */
.footer__order{
    text-align: center;
    grid-area: h4;
}

/* Style thời gian giao hàng */
.time-ship{
    padding: 15px 0;
}

/* Tạo khoảng cách cho số điện thoại - (0342 040 063) - khoảng trống giữa các số là 10px trái phải */
.space{
    display: inline-block;
    padding:0 10px;
}

/* Style tiêu đề đặt hàng */
.order__title{
    padding-bottom: 15px;
}

/* Style app đặt hàng online */
.order-grab,.order-now{
    padding-right: 10px;
    cursor: pointer;
}

/* style bản quyền */
.footer__copyright{
    text-align: center;
    background-color: var(--dark-color-second);
    color: white;
    padding: 20px 0;
    font-size: var(--fontSize);
}

/* Style màu sắc cho tên thương hiệu */
.chicken-dev{
    color: var(--primary-color);
}

/*  Modifier màu sắc cho tên thương hiệu */
.chicken-dev--color{
    color: yellow !important;
}

/* Style Button */
.btn{
    outline: none;
    font-family: inherit;
    border: none;
    padding: 10px 20px 8px;
    font-size: 25px;
    font-weight: 600;
    /* border-radius: 6px; */
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: rgba(0, 0, 0,0.1) 0px 0px 5px 2px;
    transition: color 0.6s, background-color 0.6s;
    cursor: pointer;
}

/* Button hover */
.btn:hover{
    background-color: #ffc107;
    color: black;
}

/* Áp dụng position để cho giỏ hàng nhảy số lượng mua hàng khi khách hàng ấn mua hàng */
.menu-choose>.nav-item:nth-child(2){
    position: relative;
}

/* Số lượng sẽ là absolute còn item thanh toán sẽ là relative */
#cart-number{
    color: black;
    font-size: 12px;
    position: absolute;
    padding: 7px;
    background-color: yellow;
    border-radius: 50px;
    right: 8px;
    top: -5px;
}

/* Footer áp dụng position nhằm mục đích để kiểm soát Top-Back mỗi khi cuộn xuống cuối trang */
.footer{
    position: relative;
}
/* Áp dụng position có thẻ footer làm cha */
.footer-top{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    border: 1px solid transparent;
}
/* Khi di chuột vào top-back */
.footer-top:hover{
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

