/* Style - introduce */
.introduce__recruit{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* justify-content: space-evenly; */
    height: 200px;
    margin-bottom: 40px;
}

/* Style giá tiền*/
.recruit-money{
    color: red;
    font-size: 100px;
    text-shadow:#ffffff 1px 5px 0px;
    animation: noi 0.4s infinite ease-in-out;
    position: relative;
}

/* Animation nổi bật giá tiền */
@keyframes noi {
    0%{left:0;top:0;}
    50%{left:20px;}
    100%{left:0;top:0;}
}

/* Style tiêu đề */
.recruit-title{
    /* color: var(--dark-color); */
    /* text-shadow: 2px 2px rgb(12, 112, 104); */
    font-size: 38px;
    text-transform: uppercase;
    padding-bottom: 0;
}

/* Style thông điệp */
.recruit-des{
    margin-right: 0;
    text-shadow:red 1px 5px 0px;
    /* line-height: 0; */
}

/* Style phần nội dung của trang */

/* GRID */
.advertise{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 50px 100px;
    place-items: center;
}

/* Style bố cục cho phần tử con của grid */
.advertise__nutrition{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--primary-color);
    padding: 30px;
    height: 500px;
    justify-content: space-evenly;
    transition: background-color 0.8s linear, color 0.8s linear;
}

/* Khi hover */
.advertise__nutrition:hover{
    /* background-color: var(--dark-color-second);
    color: var(--light-color);
    border-color: var(--primary-color); */
    box-shadow: 0 0 30px 1px rgb(0 0 0 / 20%);
}

/* Style đổi màu  */
.advertise__nutrition:hover > .chicken-icon{
        /* color: white;
        border: 4px solid white; */
}

/* Style đổi màu */
.advertise__nutrition:hover > .advertise-title{
    color: var(--primary-color);
    /* text-shadow: 2px 2px rgb(12, 112, 104); */
}

/* Set color cho các icon */
.chicken-icon,.calendar-icon,.star-icon,.hea-icon{
    color: var(--primary-color);
    font-size: 40px;
    border: 4px solid var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Set kích thước phông chữ cho tiêu đề */
.advertise-title{
    font-size: 24px;
    font-weight: 800;
    /* box-shadow: rgba(0, 0, 0,0.1) 0px 0px 5px 2px; */
}

/* Căn giữa và set font-size */
.advertise-dess{
    text-align: center;
    font-size: var(--fontSize);
}